/*
Funnelback Search Default Styles
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{display: none !important;}
svg line,svg rect{stroke:#777}
svg rect.query{fill:#f2dede}
svg rect.literal{fill:#dff0d8}
svg rect.logical{fill:#fcf8e3}
svg rect.set{fill:#d9edf7}
.search-initial{padding:40px 15px}
#search-advanced select.input-sm{border-color:#ccc}
#search-advanced legend{ font-size: 18px; letter-spacing: 0.5px}
#search-result-count{margin-bottom:10px}
#search-results li h4, #search-best-bets h4{margin-bottom:0}
#search-results li h4{margin-top:24px}
h3{font-size:20px}
#search-facets h3{font-size:14px;margin:0}
.search-collapsed{text-indent:8px}
.search-metrics td div.metric{border:solid 1px #ddd}
.ui-helper-hidden-accessible, .ui-help-hidden{display:none}
.ui-helper-hidden-accessible + #query{border-bottom-left-radius:4px!important;border-top-left-radius:4px!important}
.ui-menu{background-color:#fff;width:200px;border:solid 1px #e6e6e6}
.ui-menu, .ui-menu li{list-style-type:none;margin:0;padding:0}
.ui-menu-item a, li.ui-autocomplete-category{display:block;padding:2px}
li.ui-autocomplete-category{background-color:#e6e6e6;font-weight:700}
.ui-state-focus{background-color:#428bca;color:#fff}


#search-branding, #search-facets,.container-fluid .mw-3{max-width:300px}
#search-form-query{max-width:967px}
#search-results, #search-contextual-navigation, #query{max-width:850px}

