# The format of entries in this file is: field, part_of_content, metatag
#
# Available field names are a-z, A-Z and 0-9, however some are reserved
# or special as noted below.
#
# Reserved: h, i, k, u, v, K
# Special: d, t
#
# Please see the Metadata_class documentation for further
# information on reserved and special classes.
#
# Valid values for part_of_content are
# 
#  0 - Only indexed as this metadata field
#  1 - Indexed as metadata and also part of the document content
#  2 - Geospatial search data
#  3 - Numeric metadata
#  4 - Lockstring for early binding DLS
#
# Note that matching of tags in the table below against actual metatags
# is on a prefix rather than on an exact basis.  For example, if the 
# table contains 'e,0,dc.type' that will match metatags like 
# 'dc.type.category' as well as plain 'dc.type'.  
# If more than one entry in the table matches a tag, the most specific match
# applies.
#

a,0,author
a,0,dc.author
a,0,dc.creator
a,0,dc.contributor
a,0,trim.authorloc
b,0,dc.rights
c,1,dc.description
c,1,description
d,0,dc.date   #Interp. of dc.date refinements eg. dc.date.modified hard coded
d,0,date
d,0,lastSaved
d,0,creation-date
d,0,trim.datereg
d,0,dcterms.modified
d,0,article:published_time
e,0,dc.type
f,0,dc.format
f,0,text/html
g,0,dc.relation
j,0,dc.identifier
j,0,trim.number
j,0,agls.availability
l,0,dc.language
n,0,dc.source
o,0,dc.coverage
p,0,dc.publisher
q,0,agls.function
r,0,agls.audience
s,1,keywords
s,1,dc.subject
t,1,title
t,1,dc.title
t,1,trim.title
t,1,<h1>
t,1,<h2>
t,1,<h3>
t,1,<h4>
w,0,agls.mandate
