/*
// Funnelback App: Careers
// By: Steve Chan 
// Last Update: 28/Jan/2014
*/

  
/* Default Base Theme for Careers by Steven Chan - Jan 2015 */
body {
    background:url(/search/images/bg.png) center top;
    background-color:#e8e8e8
}

a {
    color:#2C6B9F
}


.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .btn-primary{ 
	background-color: #f80;
    border-color:#f80;
    color: #fff;
}
.btn-primary:hover{ 
	background-color: #f70;
    border-color:#f70;
    color: #fff;
}
.navbar-fixed-top {
    padding:0 15px;
    background:#fff;
    box-shadow:0 0 4px #888
}




/* Top Nav-bar */
.navbar-top{ margin-bottom:0; border:none; border-radius:0; }

/* Results */
#search-content{
	min-height:800px
}
#search-results li {
    border-bottom:1px solid #eee;
    padding:30px
}

#search-results li {
    border-bottom:1px solid #eee;
    padding:8px 0
}

#search-results li:last-child {
    border-bottom:0
}

#search-results h4 {
    font-size:16px;
    font-weight:500;
    letter-spacing:.2px
}

#search-result-count {
    padding:0;
    color:#666
}

#search-results li > h4 + span {
    color:#777;
    font-size:12px
}

#search-results li > h4 + span + .btn {
    padding:2px 5px;
    font-size:12px
}

/* Facets */

#search-facets .panel,#search-facets .panel-heading {
    border-radius:0;
    border:none;
    box-shadow:none;
    margin-bottom:0
}

#search-facets .panel-heading,#search-facets .panel-body {
    padding-right:0
}

#search-facets .panel {
    background:transparent
}

.facet .btn .glyphicon-filter {
    display:none
}

.facet .btn {
    font-size:13px;
    height:auto;
    padding:2px 10px 3px;
    width:auto;
    background:#fff;
    border-color:#ddd!important;
    color:#404040
}

.facet .btn:hover {
    background:#0076ad;
    border-color:#0076ad!important;
    color:#fff
}

.facet label {
    color:#404040;
    font-weight:400;
    font-size:13px
}

.fb-facets-value {
    border-color:#aaa
}

.search-branding {
    display:none
}

#search-facets {
    padding:0
}

.facetLabel {
    font-size:14px;
    margin:2px 0 0
}

 /*Top Nav Search */
#search-nav-top,#search-nav-btm {
    padding:0 15px
}

#search-nav-top {
    background:#fff;
    padding-bottom:10px;
	border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px -2px #888;
	-webkit-box-shadow: 0 1px 2px -2px #888;
}

#search-nav-btm {
    background:#fff;
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden
}

#search-form-query button,.check-select-cats {
    margin:10px 0
}

#search-form-query .form-group {
    padding-top:10px;
    margin-bottom:0
}

.check-select-cats label {
    font-size:12px;
    color:#666;
    padding-top:3px;
    font-weight:500
}

/* Search-main */

#search-main {
    background:#ccc
}

#search-main > div {
    background-color:#f8f8f8;
    overflow:hidden;
    padding:0;
    border-top:1px solid #E6E6E6
}

.search-summary {
  display: block;
  margin: 0px 18px 2px;
}
.search-details{ color:#999; padding:0 14px }

.summarydata{ margin:15px -15px 0}

.date-posted{ margin-right:15px}

.btn-warning {
  background-color: #ffb815;
  border-color: #ffb815;
  color: #fff;
}

/* Search Tabs*/

#search-tabs {
    background:#fdfdfd;
    border-left:1px solid #eee;
    padding:0
}

#search-tabs > .nav {
    padding:15px 15px 0;
    background-color:fff;
    border-color:#EAEAEA
}

.nav-tabs > li > a {
    background-color:transparent!important;
    border-width:0 0 4px!important;
    padding:5px 21px 15px
}

.nav-tabs > li > a:hover {
    border-color:#888;
    border-width:0 0 4px!important
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:hover {
    border-width:0 0 4px;
    border-color:orange;
    outline:none;
    border-radius:0;
    color:#000
}

.nav-tabs > li.active {
    background-color:transparent;
    font-weight:500
}



/* Search Pagination */
#search-pagination {
  background: none repeat scroll 0 0 #f8f8f8;
  clear: both;
  padding: 0 15px;
}


/* Footer*/
#search-footer{
  
  border-top: 1px solid #eee;
  margin: 0 -15px;
  padding: 0 0 25px; text-align:left;
}
#search-footer .text-muted{ color:#bbb}
#search-footer .text-muted a{ color:orange}

/* Sorter */
#sort {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 10px;
}

/* Shared Properties */
.navbar-top,#search-facets .panel-heading {
    background-color:#f3f3f3
}

/* Tab Panels */

.tab-content > .tab-pane {
min-height: 800px;
margin:0 20px;
}

#nav-introduction{ margin:0}

.tab-pane h2{ font-size:18px}


/* Quick View */
#search-results .well {
  background: none repeat scroll 0 0 #f8f8f8;
  border-color: #e8e8e8;
  border-radius: 0;
  border-width: 1px 0;
  box-shadow: none; box-shadow:0 0 0 1px #fff  inset;
}

/* Search Cart */
#search-cart h4{ font-size:16px}
#search-cart .btn-danger{ background:#ccc; border:none}
#search-cart .btn-danger:hover{ background:#f00;}
#search-cart h4 button{ float:right }

#search-cart ul.list-unstyled li:first-child hr{ display:none}
#search-cart p {
    color: #777;
    font-size: 12px;
    margin: 0 0 10px;
}
#search-cart ul.list-unstyled{ margin-bottom:50px}
#search-cart ul.list-unstyled li:first-child { padding:10px 0 0}
#search-cart .text-success{ font-size:12px; font-weight:900}


/* History */
#history h3{color: #555;font-size: 17px}

/* Landing Page */

#nav-configuration{  padding:30px;}
#nav-introduction{ padding-top:20px}
#nav-introduction .well { border:1px solid #d8d8d8}


/* Shiny Appearance */

h1, h2 , h3, h4, h5, label, .nav a, .facet .btn{ text-shadow:0 1px 0 #fff}
#tab-content { box-shadow: 0 4px 3px #eee;}
#search-content{ box-shadow: 0 4px 10px -10px #555;}

/* Misc. (Overrides etc.) */

body #search-main {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 1px #fff inset, 0 6px 2px -4px #aaa;
  border-width: 0 1px;
}
.navbar-top{ border: 1px solid #ddd; box-shadow:0 0 0 1px #fff inset }



[data-ng-controller=SearchHistoryCtrl] .text-warning{ color:#aaa; font-size:11px}
[data-ng-controller=SearchHistoryCtrl] .list-unstyled li{ padding: 0 0 5px} 	
[data-ng-controller=SearchHistoryCtrl] .btn-danger{ background:#aaa; border:none}
[data-ng-controller=SearchHistoryCtrl] .btn-danger:hover{ background:#f00;}


#search-footer hr{ border:none}

a{ color:#FF6500}
a:hover{ color:#f70}



/* Media Queries*/
 
/* Extra Small Devices */
@media (max-width: 767px) { #search-form-query button{ width:100%}}
/* Small Devices */
@media (max-width: 991px) {}
/* Medium Devices */
@media (max-width: 1199px) {}
/* Large Devices */
@media (min-width: 1200px) {}  