.people.row.search-initial {
	padding-bottom: 15px;
}
ol#search-results>li 
{
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}
ul#ui-id-1 {
	z-index: 1000;
}
img.pull-left {
    height: 90px;
    width: 80px;
}
.category ul li {
    display: inline-block;
}
span.department {
	 text-transform: capitalize;
}
#search-result-count{
    border-top: 1px solid #ddd;
}

.searchbtn {
    padding-top: 6px;
}
.input-title{
    text-align: left;
    padding-left: 15px;
}