/*
	print.css
	Styles specific to print friendly version of page.
*/

.print-friendly-hide {
	display: none;
}

.screen-only {
	display: none;
}

.msg {
	border: 1px solid;
	padding: 20px;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.btn {
	border: 1px solid;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	background: white;
	font-size: 14px;
	font-family: sans-serif;
	cursor: pointer;
}

body {
font: 12pt Georgia, "Times New Roman", Times, serif;
line-height: 1.3;
}

h1 {
font-size: 24pt;
}

h2 {
font-size: 14pt;
margin-top: 25px;
}

aside h2 {
font-size: 18pt;
}

img {
	max-width: 500px;
}

@page {
	margin: 0.5cm;
}

#search-results h4 a[title]:after {
content: " (" attr(title) ")";
font-size: 80%;
}

#search-results a[href^="#"]:after {
	display: none;
}

a {
	color: #000;
}

q:after {
content: " (Source: " attr(cite) ")";
}

@media screen {
	.screen-only {
		display: inherit;
	}
}
