    
/* STANDARD FB14 EMBEDDED STYLES */   

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    .search-initial { padding: 40px 15px; }

    #search-advanced select.input-sm {
        border-color: #ccc;
    }

    #search-result-count { margin-bottom: 10px; }

    #search-results li h4,
    #search-best-bets h4 {
      margin-bottom: 0;
    }
    #search-results li h4 { margin-top: 24px; }

    .facet h3 {
      font-size: 14px;
      margin: 0;
    }

    .search-collapsed { text-indent: 8px; }

    .search-metrics td div.metric { border: solid 1px #ddd; } 

    svg line,
    svg rect { stroke: #777; }

    svg rect.query   { fill: #f2dede; }
    svg rect.literal { fill: #dff0d8; }
    svg rect.logical { fill: #fcf8e3; }
    svg rect.set     { fill: #d9edf7; }

    .ui-helper-hidden-accessible,
    .ui-help-hidden { display: none; }

    .ui-menu { background-color: white; }

    .ui-menu { width: 200px; border: solid 1px #e6e6e6;}
    .ui-menu, .ui-menu li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .ui-menu-item a, li.ui-autocomplete-category { display: block; padding: 2px; }
    li.ui-autocomplete-category { background-color: #e6e6e6; font-weight: bold;}

    .ui-state-focus {
      background-color: #428bca;
      color: white;
    }

/* END DEFAULT FB14 EMBEDDED STYLES */

*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    /* font-family: 'Open Sans', sans-serif; */
}

#query {
    width: 22em;
}

.search-duration {
    position: relative;
    top: -2em;
}

.label-tag {
    font-weight: normal;
    background-color: #efefef;
}

.fb-feature .fa,
.fb-feature .glyphicon {
    font-size: 140%;
    display: block;
    margin-bottom: 10px;
}
    
.fb-feature-group h2 {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    text-align: center;
}   

.fb-feature {
    text-align: center;
    margin-bottom: 40px;
}

.search-initial,
.navbar-default {
    margin-top: 70px;
}

#search-results img {
    margin-top: 24px;
}

.ui-autocomplete li.ui-menu-item,
.ui-autocomplete li.ui-autocomplete-category {
    display: block;
    float: none;
    clear: both;
}

.ui-autocomplete a .suggestion-subtitle,
.ui-autocomplete a .suggestion.title {
    font-weight: normal;
    width: 20em; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-autocomplete .suggestion-subtitle {
    display: block;
}

/* HARD-CODED :-( */
.ui-autocomplete .suggestion-wrapper {
    height: 50px;
}

.ui-autocomplete .suggestion-wrapper img{
    float: left;
    margin-right: 4px;
}

.ui-autocomplete .suggestion-text {
    float: left;
}


/*/-----------------Autocomplete--------------/*/

span.twitter-typeahead {
  width: 100%;
}

span.tt-dropdown-menu {
  width: 100%;
  background: #fff;
  text-align: left;
  border: 1px solid #ebebeb;
}

.tt-suggestion, span.tt-dropdown-menu h4 {
  padding: 6px;
  box-sizing:border-box;
  cursor: pointer;
  width:100%;
}

.tt-suggestion:hover {
  background-color: #fafafa;
}

.tt-hint {
  color: #aaa;
}


/* FUN-6436 */

.ui-autocomplete {
    font-size: inherit;
    font-family: inherit;
    position: inherit;
    z-index: 1001;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
    border-radius: 0px; 
    font-weight: bold;
}

.ui-autocomplete a,
.ui-autocomplete a:hover,
.ui-autocomplete a.ui-state-focus {     
    text-decoration: none;
    border: none;
    color: #333333;
    padding: 4px 12px;  
}

.ui-autocomplete a:hover,
.ui-autocomplete a.ui-state-focus {
    cursor: pointer;
    background: #efefef;
}

.ui-autocomplete a strong {
    font-weight: normal;
}

/*--------------------------------------------------------*/
/*-----------------// 2015 REBRANDING //------------------*/
/*--------------------------------------------------------*/

/*-----------------General------------------*/

body, *, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a, cite, span, address {
    font-family: 'Open Sans' sans-serif;
    font-weight: 300;
    color: #232b3b;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #222;
}

a {
    text-decoration: underline;
}

a:hover, a:hover * {
    color: #D21800;
}

::selection {
    background: #E42B12;
    color: #fff;
    text-shadow: none;
}

hr {
    border-color:#ebebeb;
}

/*----------------Dropdown-----------------*/

.dropdown-menu {
    border: 1px solid #ebebeb;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.dropdown-menu>li>a {
    text-decoration: none;
    padding: 5px 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #ebebeb;
    color:#D21800;
}

/*-----------------Header------------------*/

#initialLogo {
    width: 100%;
    margin: 20px 0;
    max-width: 320px;
}

.form-control, #query {
    border: 1px solid #ebebeb;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.search-initial #query {
    float: left;
    width: 80%;
    border-right: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 1px solid #ebebeb;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom:1px solid #ebebeb;
}

.nav-tabs li a {
    text-decoration: none;
}

.search-initial .input-group {
    width: 100%;
}

.search-initial .input-group-btn {
    float: left;
    width: 20%;
}

.search-initial .input-group-btn button {
    width: 100%;
}

#nav-introduction h3 {
    margin: 25px 0 15px;
}

#demo-navbar-collapse ul li a {
    text-decoration: none;
}

#demo-navbar-collapse ul li a span {
    color: #999;
}

#demo-navbar-collapse ul li a:hover span {
    color: #fff;
}

nav h1 {
    color: #fff;
    font-size: 16px;
    float: left;
    margin: 17px 0;
}

nav .navbar-nav {
    float: right;
}

.navbar {
    z-index: inherit;
}

.navbar-fixed-top {
    z-index: 1080 !important;
}

/*-----------------Buttons------------------*/

.btn, .btn.btn-primary, .label {
    background: #232b3b;
    border:none;
    border-radius:0;
    white-space: normal;
    max-width: 100%;
    text-decoration: none;
    text-align: left;
}

.btn, .btn *, .label, .label a {
    color: #fff;
    text-decoration: none;
}

.btn:hover, .btn.btn-primary:hover, .label:hover, .btn:active, .label:active, .btn.active, .btn.btn-primary.active {
    background-color:#b5220e;
    color: #fff;
    outline: none;
}

.btn-success, .label-success {
    background-color:#f26835;
}

.btn-success:hover, .label-success:hover {
    background-color:#D21800;
}

.btn.input-lg, button[type="submit"].btn-primary {
    background: #E42B12;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.btn.input-lg:hover {
    background-color: #b5220e;
}

.btn .glyphicon {
    margin-right: 5px;
    color: #fff;
}

.btn span {
    color: #fff;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.optimiser-button {
    height: 82px;
    margin-left: 20px;
    min-width: 150px;
    display: block;
    text-align: center;
    line-height: 1.3em;
    padding: 11px;
}

/*---------------Results Page------------------*/

.navbar.navbar-default {
    border-radius: 0;
    border: none;
    background-color: #ebebeb;
}

.navbar-collapse a {
    text-decoration: none;
}

.navbar-brand img {
    height: 22px !important;
}

img.thumbnail {
    padding: 0;
    border-radius: 0;
    border: 1px solid #222;
}

.pagination>li>a, .pagination>li>span {
    border-radius: 0 !important;
    border-color: #ebebeb;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #232b3b;
    border-color: #232b3b;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-form {
    overflow: hidden;
}

.navbar-form .form-group, .navbar-form button {
    float: left;
}

.navbar-form .checkbox-inline {
    float: left;
    margin: 6px 20px;
    display: none;
}

.text-success {
   color: #D21800;
}

cite.text-success {
    margin: 10px 0;
    display: inline-block;
}

.exhibit.exhibit-inline {
    margin-bottom: 10px;
}

#search-results img {
    max-width: 100%;
    height: auto;
}

.soundcloud-link:hover span.btn {
    background-color: #E42B12;
    color: #fff;
}

.soundcloud-play {
    width: 100%;
}

a.show-recommender {
    width: 100%;
    padding: 6px 3px;
    text-align: center;
    margin-top: 10px;
}

.glyphicon-tags {
    width: 18px;
}

/*/---------------Autocomplete-------------/*/

.autocomplete {
    margin-top: 50px !important;
    width:100% !important;
}

.column {
    width: 25%;
}

.suggestion-wrapper img{
    float: left;
    width:30%;
}

div.suggestion-text {
    float: right;
    width: 70%;
    padding-left: 10px;
}

div.close-autocomplete {
    display: none;
}

.twitter-typeahead {
    width: 80% !important;
    float: left;
}

.twitter-typeahead #query {
    width: 100%;
} 

/*-----------------Facets-------------------*/

.badge {
    background-color: #ebebeb;
}

.panel {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel li a {
    text-decoration: none;
}

.panel-default {
    border: none;
}

.panel .panel-heading {
    background: #233548;
    border-radius: 0;
}

.panel-default>.panel-heading, .panel-heading h3, .panel-heading h3 a, .panel-heading span, .facet .panel-heading a h3, .facet .panel-heading a {
    color: #fff;
    text-decoration: none;
}

.panel-default>.panel-heading * {
    color: #fff;
    text-decoration: none;
}

.panel-heading h3 a:hover, .facet .panel-heading a h4:hover, .panel-heading h4 a:hover, .facet .panel-heading a h3:hover {
    color: #D21800;
}

.panel-default>.panel-heading > *:hover {
    color: #D21800;
}

.panel-body {
    border: 1px solid #ebebeb;
    border-top-color: transparent;
}

.input-group {
    margin-bottom: 20px;
}

.input-group-addon {
    border-radius: 0;
    border: none;
}

/*
input[type="checkbox"] {
    -webkit-appearance: none;
    background: #232b3b;
    width: 12px;
    height: 12px;
}
*/


/*/---------------Modal--------------/*/

div#search-recommendations {
    top: 40px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin: 0;
}

/*--------------Front Page---------------*/

.fb-feature h3 a {
    text-decoration: none;
}

/*--------------Media Queries---------------*/

@media (max-width: 767px) {
    nav h1 { width:75%; }

    .navbar-nav>li {
        float: left;
    }

    .navbar-link span { display: none; }
    .navbar-link span.glyphicon { display: block; }

    button[type="submit"].btn-primary {
        font-size: 0;
    }

    button[type="submit"].btn-primary span {
        font-size: 22px;
        line-height: 16px;
        margin: 0;
    }

    .btn.input-lg, .button[type="submit"].btn-primary, .search-initial .input-group-btn { width: 12%; }
    .input-group-btn .btn.input-lg { width:100%;}
    .navbar-form .form-group, .search-initial #query { width:88%; }
    #query { width:100%; }

    ul.navbar-right {
        position: absolute;
        top:0;
        right:90px;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background: #fff;
        border: 1px solid #ebebeb;
    }
}


@media (max-width: 460px) {
    .search-initial {
        margin-top: 50px;
        padding-top: 20px;
    }

    .nav-tabs>li>a {
        padding: 6px 8px;
        font-size: 12px;
    }

    .btn.input-lg, button[type="submit"].btn-primary, .search-initial .input-group-btn { width: 20%; }
    .navbar-form .form-group, .search-initial #query { width:80%; }

    .navbar-default .navbar-right {
        display: none;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        width: 100%;
    }

}

*[data-url] {
    word-break: break-all;
}